* {
  margin: 0;
}

#Top_bar {
  height: 75px;
  display: flex;
  align-items: center;

  #Logo_div img {
    width: 180px;
    height: 130px;
  }

  #Pages_div {
    width: 100vw;
    display: flex;
    justify-content: end;

    #OnThis_page {
      font-weight: bold;
    }

    a {
      text-decoration: none;
      font-size: 30px;
      font-family: "Inter";
      color: black;
      margin-right: 20px;
    }
  }
}

#Hamburger_img {
  width: 100vw;
  height: 600px;
}

.Information_div {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 75px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  margin: auto;

  div {
    margin-bottom: 50px;
  }

  .Img_description {
    width: 450px;
    height: 230px;
    font-size: 30px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1921px) {
  #Top_bar {
    height: 100px;

    #Logo_div img {
      width: 270px; /* 2 times the doubled width for smaller screens */
      height: 195px; /* 2 times the doubled height for smaller screens */
    }

    #Pages_div a {
      /* 2 times the doubled font size for smaller screens */
      margin-right: 30px; /* 2 times the doubled spacing for smaller screens */
      font-size: 50px;
    }
  }

  #Hamburger_img {
    height: 900px;
  }

  .Information_div {
    column-gap: 112.5px; /* multiplied by 1.5 */
    margin-top: 150px; /* multiplied by 1.5 */
    margin-bottom: 75px; /* multiplied by 1.5 */

    div {
      margin-bottom: 75px; /* multiplied by 1.5 */

      img {
        width: 580px;
      }
    }

    .Img_description {
      width: 675px; /* multiplied by 1.5 */
      height: 345px; /* multiplied by 1.5 */
      font-size: 45px; /* multiplied by 1.5 */
      margin-top: 75px; /* multiplied by 1.5 */
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  #Top_bar {
    #Logo_div img {
      width: 135px; /* 0.75 times the doubled width for smaller screens */
      height: 97.5px;
    }

    #Pages_div a {
      /* 0.75 times the doubled font size for smaller screens */
      margin-right: 15px; /* 0.75 times the doubled spacing for smaller screens */
    }
  }

  #Hamburger_img {
    height: 450px;
  }

  .Information_div {
    column-gap: 56.25px; /* multiplied by 0.75 */
    margin-top: 75px; /* multiplied by 0.75 */
    margin-bottom: 37.5px; /* multiplied by 0.75 */

    div {
      margin-bottom: 37.5px; /* multiplied by 0.75 */

      img {
        width: 300px;
      }
    }

    .Img_description {
      width: 225px; /* multiplied by 0.75 */
      height: 114.75px; /* multiplied by 0.75 */
      font-size: 15px; /* multiplied by 0.75 */
      margin-top: 25px; /* multiplied by 0.75 */
    }
  }
}

@media only screen and (max-width: 1000px) {
  #Top_bar {
    #Logo_div img {
      width: 90px; /* Full width for smaller screens */
      height: 65px;
    }

    #Pages_div a {
      font-size: 22.5px;
      margin-right: 10px; /* Adjust spacing for smaller screens */
    }
  }

  #Hamburger_img {
    height: 300px;
  }

  .Information_div {
    column-gap: 37.5px; /* multiplied by 0.5 */
    margin-top: 50px; /* multiplied by 0.5 */
    margin-bottom: 25px; /* multiplied by 0.5 */

    div {
      margin-bottom: 25px; /* multiplied by 0.5 */

      img {
        width: 200px;
      }
    }

    .Img_description {
      width: 225px; /* multiplied by 0.5 */
      height: 115px; /* multiplied by 0.5 */
      font-size: 15px; /* multiplied by 0.5 */
      margin-top: 25px; /* multiplied by 0.5 */
    }
  }
}


@media only screen and (max-width: 700px) {
  #Top_bar {
    #Logo_div img {
      width: 67.5px; /* Full width for smaller screens */
      height: 48.75px;
    }

    #Pages_div a {
      font-size: 16.875px;
      margin-right: 7.5px; /* Adjust spacing for smaller screens */
    }
  }

  #Hamburger_img {
    height: 225px;
  }

  .Information_div {
    column-gap: 28.125px; /* multiplied by 0.75 */
    margin-top: 37.5px; /* multiplied by 0.75 */
    margin-bottom: 18.75px; /* multiplied by 0.75 */

    div {
      margin-bottom: 18.75px; /* multiplied by 0.75 */

      img {
        width: 150px;
      }
    }

    .Img_description {
      width: 168.75px; /* multiplied by 0.75 */
      height: 86.25px; /* multiplied by 0.75 */
      font-size: 11.25px; /* multiplied by 0.75 */
      margin-top: 18.75px; /* multiplied by 0.75 */
    }
  }
}
